# OS files
.DS_Store
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# Node modules
node_modules/

# Logs
*.log

# Environment files
.env

# Build folders
dist/
build/

# Cache
.cache/
tmp/
temp/


assets/img/gallery/construction time video.mp4
assets/img/gallery/half done.mov