/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --hue: 5;
  --first-color: hsl(var(--hue), 100%, 61%);
  --first-color-dark: hsl(var(--hue), 65%, 46%);
  --title-color: hsl(var(--hue), 0%, 100%);
  --text-color: hsl(var(--hue), 1%, 81%);
  --body-color: hsl(var(--hue), 0%, 4%);
  --container-color: hsl(var(--hue), 0%, 7%);
  --border-color: hsl(var(--hue), 0%, 19%);

  /*========== Font family ==========*/
  --body-font: 'Montserrat', sans-serif;

  /*========== Font sizes ==========*/
  --big-font-size: 4rem;
  --h1-font-size: 3.25rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2.25rem;
  --largest-font-size: 1.3125rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.8125rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
}

/* Responsive typography */

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  color: var(--text-color);
}

body {
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  font-weight: var(--font-medium);
}

h1,
h2,
h3 {
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: var(--font-extra-bold);
  text-shadow: 2px 3px var(--first-color);
  line-height: calc(1em + 0.625rem);
}

h3 {
  text-shadow: 1px 2px var(--first-color);
}

p,
span,
label {
  line-height: calc(1em + 0.625rem);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
}

/*=============== LAYOUT ===============*/
.container {
max-width: 1328px;
margin-inline: auto;
padding-inline: 1.5rem;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.btn {
  display: inline-block;
  background-color: var(--first-color);
  padding: 0.875rem 1.25rem;
  outline: 1px solid var(--first-color);
  outline-offset: 3px;
  text-transform: uppercase;
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: .8px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--first-color-dark);
  outline-color: var(--first-color-dark);
}


/*=============== HEADER & NAV ===============*/
.header {
  position: absolute;
  inset-inline: 0;
  z-index: 1000;
}

.nav {
  height: 6rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  width: 160px;
}

.nav-list {
  display: flex;
  column-gap: 2rem;
}

.nav-link {
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav-link:hover,
.active-link {
  color: var(--first-color);
}

.nav-close,
.nav-toggle {
  display: none;
}

/*=============== HOME ===============*/

/*=============== ABOUT ===============*/

/*=============== CLASS ===============*/

/*=============== PRICING ===============*/

/*=============== REVIEWS ===============*/

/*=============== TRAINERS ===============*/

/*=============== CONTACT ===============*/

/*=============== OFFER ===============*/

/*=============== FOOTER ===============*/

/*=============== ABOUT PAGE ===============*/

/*=============== CLASS PAGE ===============*/

/*=============== MEMBERSHIP PAGE ===============*/

/*=============== TRAINERS PAGE ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */

/* For medium devices */

/* For small devices */
