/*================ TRANSFORMATION =================*/

.transformation{
background:#050505;
overflow:hidden;
}

.compare-container{

max-width:900px;

margin:0 auto;

}

.compare-image{

position:relative;

width:100%;

height:550px;

overflow:hidden;

border-radius:25px;

border:2px solid rgba(255,43,43,.25);

box-shadow:
0 0 40px rgba(255,43,43,.12);

}

.compare-image img{

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

object-fit:cover;

user-select:none;

pointer-events:none;

}

.before-wrapper{

position:absolute;

top:0;
left:0;

width:50%;
height:100%;

overflow:hidden;

}

.before-img{

width:100%;
height:100%;

}

.after-img{

z-index:1;

}

.before-wrapper{

z-index:2;

}

.slider-line{

position:absolute;

left:50%;

top:0;

width:4px;

height:100%;

background:#fff;

transform:translateX(-50%);

z-index:4;

box-shadow:0 0 20px rgba(255,255,255,.7);

pointer-events:none;

}

.slider-button{

position:absolute;

left:50%;

top:50%;

transform:translate(-50%,-50%);

width:70px;

height:70px;

background:#ff2b2b;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

color:#fff;

font-size:2rem;

z-index:5;

pointer-events:none;

box-shadow:
0 0 25px rgba(255,43,43,.5);

}

.compare-slider{

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

margin:0;

opacity:0;

cursor:ew-resize;

z-index:10;

}

@media(max-width:768px){

.compare-image{

height:420px;

}

.slider-button{

width:55px;

height:55px;

font-size:1.5rem;

}

}

.compare-label{

position:absolute;

top:20px;

padding:10px 18px;

background:rgba(0,0,0,.65);

color:#fff;

font-weight:700;

border-radius:30px;

z-index:20;

backdrop-filter:blur(10px);

}

.before-label{

left:20px;

}

.after-label{

right:20px;

}